{
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "extends": "eslint:recommended",
  # "extends": "airbnb",
  "rules": {
    "no-console": 1,
    "no-unused-vars": 0,
    "comma-dangle": 0,
    },
  "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "experimentalObjectRestSpread": true,
        },
    },
}
