
// COLORS

// Set color variables
$normal_blue: #2196F3;
$darker_blue: #008EFF;

$normal_orange: #FF9A00;
$bright_orange: #FFA419;
$dark_orange: #B26C00;

$almost_white: rgb(252, 252, 252);
$light_grey: #F1F1F1;
$medium_grey: #ddd;
$dark_grey: #aaa;
$almost_black: #444444;

// Set functional color variables
$text_color: $almost_black;
$document_background_accented: $medium_grey;
$top_bar_color: $bright_orange;
$document_background_color: $almost_white;
$border_color: $dark_grey;
$border_color_light: $medium_grey;

// DOCUMENT

body {
  border-top: solid $top_bar_color;
  background-color: $document_background_color;
}

.app {
  padding: 5px 20px;
  max-width: 1000px;
}

// Less white space for mobile screens
@media (max-width: 768px) {
  .app {
    padding: 5px 10px;
  }
}

// SEARCH INPUT

.search-row {
  margin-bottom: 10px;
  border-bottom: 1px dotted $border_color;
}

.search-bar {
  margin: 20px 0px 15px 0px;
  padding-bottom: 5px;
}

.logo-container {
  margin: 0;
  padding-left: 0;
}

.logo-image {
  height: 50px;
  width: 50px;
}

#clear-search-button {
  position: absolute;
  right: 60px;
  top: 0;
  bottom: 0;
  height: 14px;
  margin: auto;
  font-size: 14px;
  cursor: pointer;
  color: #ccc;
}

// AUTOSUGGEST

.react-autosuggest__container {
  background-color: $document_background_color;
  margin: 7px 0 0 20px;
  position: relative;

}

.react-autosuggest__input {
  width: 100%;
  height: 35px;
  margin-left: 5px;
}

.react-autosuggest__input:focus {
  outline: none;
}

.react-autosuggest__container--open .react-autosuggest__input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.react-autosuggest__suggestions-container {
  position: absolute;
  top: 33px;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  border: 1px solid $border_color;
  background-color: $document_background_color;
  font-weight: 300;
  font-size: 16px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  z-index: 2;
}

.react-autosuggest__suggestion {
  cursor: pointer;
  padding-left: 5px;
}

.react-autosuggest__suggestion--focused {
  background-color: $document_background_accented;
}

// RESULTS

.results {
  padding: 0 0 10px 0;
  min-height: 300px;
}

// RESULTS:TERMS

.terms {
  padding: 0 0 30px 0;
}

ul.term-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

ul.term-list li {
  padding: 10px 0;
}

ul.term-list li:hover {
  color: $text_color;
  background: $document_background_accented;
  cursor: hand;
  cursor: pointer;
  opacity: .9;
}

// Less white space for mobile screens
@media (max-width: 768px) {
    ul.term-list li {
      border-bottom: 1px solid $border_color_light;
      padding: 5 0;
    }
}

.term-thumbnail {
  margin: 10px 20px;
}

.term-thumbnail .term-link {
  top: 0;
  left: 0;
  text-decoration: none;
  /* Makes sure the link doesn't get underlined */
  z-index: 10;
  /* raises anchor tag above everything else in div */
  background-color: $document_background_color;
  /*workaround to make clickable in IE */
  opacity: 0;
  /*workaround to make clickable in IE */
  filter: alpha(opacity=0);
  /*workaround to make clickable in IE */
}

.term-thumbnail h4 {
  color: $text_color;
}

.term-thumbnail .translation {
  color: #9aa;
  font-size: 90%;
  font-weight: normal;
}

.term-thumbnail .subjectfield {
  color: #9aa;
  font-size: 60%;
  font-weight: normal;
  font-style: italic;
}

.no-results {
  margin: 10px 20px;
}

// RESULTS:SUBJECTFIELDS

.subjectfield-container {
  padding: 0;
  margin: 5px 0;
  border-radius: 3px;
  border: 1px dotted $border_color;
}

.subjectfield-label {
  background-color: $document_background_accented;
  padding: 5px 15px;
  border-bottom: 1px dotted $border_color;
}

.subjectfield-label h6 {
  font-weight: bold;
  color: $text_color;
}

.subjectfield-list {
  margin: 10px 15px;
  list-style: none;
  padding: 0;
}

// FOOTER

footer {
  margin-top: 20px 0 0 0;
  border-top: 1px dotted #ccc;
  padding: 10px 0 50px 0;
  font-size: 13px;
}

footer ul {
  margin: 0 0 20px 0;
}

footer li {
  display: inline;
  margin-right: 1em;
}

footer p {
  color: #666666;
  margin: 0 0 3px 0;
}

.red {
  color: red;
}
